In [1]:
# change directory
import os
rootdir = os.path.dirname(os.getcwd())
os.chdir(rootdir)

# import third libs for data
import datetime as dt
import numpy as np
import pandas as pd

# import config
from config import DATA_DIR

# Chargement des donnees

In [2]:
benchmarkname = 'HGD_dialysis_2018_2021'
benchmarkdir = os.path.join(DATA_DIR, 'raw', benchmarkname)
benchmarkdir

'd:\\Recherches\\Travaux\\RCEMP\\rcemp-dial\\data\\raw\\HGD_dialysis_2018_2021'

## chargement des seances

In [3]:
datapath = os.path.join(benchmarkdir, 'donnees_seances.csv')
seances = pd.read_csv(datapath, sep=';', index_col='Date', parse_dates=True, dayfirst=True)
seances.head()

            ID   Tour  Patients  Debut  Duree
Date
2018-03-26   1  Tour1        21      5      5
2018-03-26   2  Tour2        21     10      5
2018-03-26   3  Tour3        21     15      5
2018-03-26   4  Tour4         8     20      5
2018-03-27   5  Tour1        21      5      5

In [4]:
seances.dtypes

ID           int64
Tour        object
Patients     int64
Debut        int64
Duree        int64
dtype: object

## chargement des generateurs

In [5]:
datapath = os.path.join(benchmarkdir, 'donnees_generateurs.csv')
generateurs = pd.read_csv(datapath, sep=';', index_col='Numero')
generateurs.head()

,Code,TT,TO,TNR,TR,TAP,TF,TE,TN,TU,TRE,TRSi
Numero,,,,,,,,,,,,
1,7SXAWU98,30576,22932,932,22000,6301.08,15698.92,4.92,15694,15694,0,NaN
2,7SXAWT97,30576,22932,932,22000,19262.22,2737.78,1.78,2736,2736,0,NaN
3,7SXAWU81,30576,22932,932,22000,9462.73,12537.27,1.27,12536,12536,0,NaN
4,7SXAWU91,30576,22932,932,22000,7857.71,14142.29,2.29,14140,14140,0,NaN
5,7SXAWS81,30576,22932,932,22000,5639.52,16360.48,4.48,16356,16356,0,NaN

In [6]:
generateurs.dtypes

Code     object
TT        int64
TO        int64
TNR       int64
TR        int64
TAP     float64
TF      float64
TE      float64
TN        int64
TU        int64
TRE       int64
TRSi    float64
dtype: object

In [7]:
generateurs.Code.sort_values()

Numero
24      6SX4LV10
21      7SXAWS80
5       7SXAWS81
20      7SXAWS82
2       7SXAWT97
8       7SXAWT98
14      7SXAWU79
17      7SXAWU80
3       7SXAWU81
12      7SXAWU82
22      7SXAWU83
18      7SXAWU84
19    7SXAWU85-A
23    7SXAWU85-B
9       7SXAWU86
7       7SXAWU87
11      7SXAWU89
16      7SXAWU90
4       7SXAWU91
15      7SXAWU93
13      7SXAWU94
6       7SXAWU96
10      7SXAWU97
1       7SXAWU98
Name: Code, dtype: object

## chargement des tranches horaires

In [8]:
datapath = os.path.join(benchmarkdir, 'tranches_maintenances.csv')
tranches_maintenances = pd.read_csv(datapath)
tranches_maintenances.set_index('Period', inplace=True)
tranches_maintenances

              D1       D2       D3       D4       D5       D6  D7
Period
0H-1H         --       --       --       --       --       --  --
1H-2H         --       --       --       --       --       --  --
2H-3H         --       --       --       --       --       --  --
3H-4H         --       --       --       --       --       --  --
4H-5H    service  service  service  service  service  service  --
5H-6H    service  service  service  service  service  service  --
6H-7H    service  service  service  service  service  service  --
7H-8H    service  service  service  service  service  service  --
8H-9H    service  service  service  service  service  service  --
9H-10H   service  service  service  service  service  service  --
10H-11H  service  service  service  service  service  service  --
11H-12H  service  service  service  service  service  service  --
12H-13H  service  service  service  service  service  service  --
13H-14H  service  service  service  service  service  service  --
14H-15H  service  service  service  service  service  service  --
15H-16H  service  service  service  service  service  service  --
16H-17H  service  service  service  service  service  service  --
17H-18H  service  service  service  service  service  service  --
18H-19H  service  service  service  service  service  service  --
19H-20H  service  service  service  service  service  service  --
20H-21H  service  service  service  service  service  service  --
21H-22H  service  service  service  service  service  service  --
22H-23H  service  service  service  service  service  service  --
23H-24H  service  service  service  service  service  service  --

In [9]:
datapath = os.path.join(benchmarkdir, 'tranches_soins.csv')
tranches_soins = pd.read_csv(datapath)
tranches_soins.set_index('Period', inplace=True)
tranches_soins

             D1      D2      D3      D4      D5      D6      D7
Period
0H-1H        --  soins4  soins4  soins4  soins4  soins4  soins4
1H-2H        --      --      --      --      --      --      --
2H-3H        --      --      --      --      --      --      --
3H-4H        --      --      --      --      --      --      --
4H-5H        --      --      --      --      --      --      --
5H-6H    soins1  soins1  soins1  soins1  soins1  soins1      --
6H-7H    soins1  soins1  soins1  soins1  soins1  soins1      --
7H-8H    soins1  soins1  soins1  soins1  soins1  soins1      --
8H-9H    soins1  soins1  soins1  soins1  soins1  soins1      --
9H-10H   soins1  soins1  soins1  soins1  soins1  soins1      --
10H-11H  soins2  soins2  soins2  soins2  soins2  soins2      --
11H-12H  soins2  soins2  soins2  soins2  soins2  soins2      --
12H-13H  soins2  soins2  soins2  soins2  soins2  soins2      --
13H-14H  soins2  soins2  soins2  soins2  soins2  soins2      --
14H-15H  soins2  soins2  soins2  soins2  soins2  soins2      --
15H-16H  soins3  soins3  soins3  soins3  soins3  soins3      --
16H-17H  soins3  soins3  soins3  soins3  soins3  soins3      --
17H-18H  soins3  soins3  soins3  soins3  soins3  soins3      --
18H-19H  soins3  soins3  soins3  soins3  soins3  soins3      --
19H-20H  soins3  soins3  soins3  soins3  soins3  soins3      --
20H-21H  soins4  soins4  soins4  soins4  soins4  soins4      --
21H-22H  soins4  soins4  soins4  soins4  soins4  soins4      --
22H-23H  soins4  soins4  soins4  soins4  soins4  soins4      --
23H-24H  soins4  soins4  soins4  soins4  soins4  soins4      --

# Identification des patients

## Regroupement des patients par jour

In [10]:
seances_by_date = seances.groupby('Date')
seances_sum_by_date = seances_by_date.sum(numeric_only=True)
patients_count = seances_sum_by_date['Patients']
patients = pd.DataFrame(patients_count)
patients.columns = ['number']
patients.head()

            number
Date
2018-03-26      71
2018-03-27      72
2018-03-28      68
2018-03-29      67
2018-03-30      72

In [11]:
patients['day'] = patients_count.index.weekday + 1
patients.head()

            number  day
Date
2018-03-26      71    1
2018-03-27      72    2
2018-03-28      68    3
2018-03-29      67    4
2018-03-30      72    5

## Calcul des preferences des patients

In [12]:
seances_by_tour = seances.groupby('Tour')
seances_by_tour_min = seances_by_tour.min()
seances_by_tour_max = seances_by_tour.max()
seances_by_tour_min.head()
patients['release_date'] = seances_by_tour_min.loc['Tour1', 'Debut']
patients['due_date'] = seances_by_tour_max.loc['Tour4', 'Debut']
patients['duration'] = seances_by_tour_min.loc['Tour1', 'Duree']
patients.head()

            number  day  release_date  due_date  duration
Date
2018-03-26      71    1             5        20         5
2018-03-27      72    2             5        20         5
2018-03-28      68    3             5        20         5
2018-03-29      67    4             5        20         5
2018-03-30      72    5             5        20         5

## Identification des periodes de soins

In [13]:
patients.reset_index(inplace=True)
patients['period'] = patients['Date'].dt.to_period('W').apply(lambda r: r.end_time.date)
patients['period'] = pd.to_datetime(patients['period'])
patients.set_index('Date', inplace=True)
patients.head(10)

            number  day  release_date  due_date  duration     period
Date
2018-03-26      71    1             5        20         5 2018-04-01
2018-03-27      72    2             5        20         5 2018-04-01
2018-03-28      68    3             5        20         5 2018-04-01
2018-03-29      67    4             5        20         5 2018-04-01
2018-03-30      72    5             5        20         5 2018-04-01
2018-03-31      60    6             5        20         5 2018-04-01
2018-04-02      76    1             5        20         5 2018-04-08
2018-04-03      67    2             5        20         5 2018-04-08
2018-04-04      62    3             5        20         5 2018-04-08
2018-04-05      69    4             5        20         5 2018-04-08

# Identification des machines

## calcul du temps d'utilisation hebdomadaire

In [14]:
duree_traitement = 4
temps = seances['Patients'] * duree_traitement
temps.name = 'use_duration'
temps = temps.to_frame()
temps.head()

            use_duration
Date
2018-03-26            84
2018-03-26            84
2018-03-26            84
2018-03-26            32
2018-03-27            84

In [15]:
temps_hebdo = temps.resample('W').sum()
temps_hebdo['final_duration'] = temps_hebdo.shift(-1)
temps_hebdo.head()

            use_duration  final_duration
Date
2018-04-01          1640          1632.0
2018-04-08          1632          1664.0
2018-04-15          1664          1632.0
2018-04-22          1632          1632.0
2018-04-29          1632          1576.0

In [16]:
temps_cumulee = temps_hebdo.cumsum()
temps_cumulee.tail()

            use_duration  final_duration
Date
2021-04-25        259752        259728.0
2021-05-02        261368        261320.0
2021-05-09        262960        262932.0
2021-05-16        264572        264524.0
2021-05-23        266164             NaN

## calcul des temps initiaux d'utilisation

In [17]:
temps_final = generateurs['TF']
temps_final_total = temps_final.sum()
temps_final_total

286763.1

In [18]:
temps_sample_total = temps_hebdo.sum()
temps_sample_total

use_duration      266164.0
final_duration    264524.0
dtype: float64

In [19]:
temps_initial_total = temps_final_total - temps_sample_total
temps_initial_total

use_duration      20599.1
final_duration    22239.1
dtype: float64

In [20]:
temps_initial_hebdo = temps_initial_total + temps_cumulee.shift(1).fillna(0)
temps_initial_hebdo.head()

            use_duration  final_duration
Date
2018-04-01       20599.1         22239.1
2018-04-08       22239.1         23871.1
2018-04-15       23871.1         25535.1
2018-04-22       25535.1         27167.1
2018-04-29       27167.1         28799.1

## Identification du nombre de lits

In [21]:
nb_lits = seances.resample('W').max()['Patients']
nb_lits.head()

Date
2018-04-01    21.0
2018-04-08    21.0
2018-04-15    21.0
2018-04-22    21.0
2018-04-29    21.0
Freq: W-SUN, Name: Patients, dtype: float64

In [22]:
nb_lits.value_counts()

21.0    162
22.0      1
Name: Patients, dtype: int64

## calcul de la repartition des charges par machines

In [23]:
temps_effectif = generateurs['TF']
temps_total_effectif = temps_effectif.sum()
temps_total_effectif

286763.1

In [24]:
repartition = temps_effectif / temps_total_effectif
repartition.name = 'use_duration'
repartition.head()

Numero
1    0.054745
2    0.009547
3    0.043720
4    0.049317
5    0.057052
Name: use_duration, dtype: float64

In [25]:
machines_rank = repartition.rank(method='first', ascending=False)
machines_rank.head()

Numero
1     7.0
2    20.0
3    18.0
4    16.0
5     4.0
Name: use_duration, dtype: float64

In [26]:
machines = []
for date, row in temps_initial_hebdo.iterrows():
    temps_machines = repartition * row.use_duration
    machines_hebdo = temps_machines.to_frame()
    machines_hebdo['final_duration'] = repartition * row.final_duration
    # print(machines_hebdo)
    machines_hebdo['code'] = generateurs['Code']
    machines_hebdo['period'] = date
    machines_hebdo['rank'] = machines_rank
    # machines_hebdo['final_duration'] = temps_initial_hebdo.loc[date, 'final_duration']
    nb_lits_hebdo = nb_lits[date]
    machines_lits = machines_hebdo[machines_hebdo['rank'] <= nb_lits_hebdo]
    machines.append(machines_lits)
machines = pd.concat(machines)
machines.drop('rank', axis=1, inplace=True)
machines.head()

        use_duration  final_duration      code     period
Numero
1        1127.703052     1217.485275  7SXAWU98 2018-04-01
2         196.663392      212.320773  7SXAWT97 2018-04-01
3         900.591737      972.292465  7SXAWU81 2018-04-01
4        1015.885398     1096.765245  7SXAWU91 2018-04-01
5        1175.224998     1268.790687  7SXAWS81 2018-04-01

In [27]:
# verification des calculs
machines.groupby('period')['use_duration'].count().value_counts()

21    162
22      1
Name: use_duration, dtype: int64

# Echantillonage par phases

In [28]:
# fix random seed
np.random.seed(0)

## Echantillonage des semaines
ces echantillons sont utilises pour la comparaison entre ordonnancement manuel et intelligent

In [29]:
periodes = [periode.date() for periode, _ in machines.groupby('period')]
periodes = pd.Series(periodes)
periodes

0      2018-04-01
1      2018-04-08
2      2018-04-15
3      2018-04-22
4      2018-04-29
          ...
158    2021-04-25
159    2021-05-02
160    2021-05-09
161    2021-05-16
162    2021-05-23
Length: 163, dtype: object

In [30]:
# periodes_sample = periodes.sample(n=40)
periodes_sample = periodes.loc[:1]
periodes_sample

0    2018-04-01
1    2018-04-08
dtype: object

## Echantillonage des machines
On doit:
- garder le ratio patients/machines constant
- controler le nombre de machines
- faciliter la visualisation dans un diagrame de gantt

In [31]:
#print(machines['period'])

In [32]:
patients_group = []
machines_group = []
for periode in periodes_sample:
    patients_subgroup0 = patients[patients['period'].isin([periode])]
    machines_subgroup0 = machines[machines['period'].isin([periode])]
    nb_machine0 = machines_subgroup0.shape[0]
    for nb_machine1 in (4, 8, 21):
        machines_subgroup1 = machines_subgroup0.sample(n=nb_machine1)
        machines_subgroup1['instance'] = machines_subgroup1['period'].dt.strftime('w%Y-%m-%d-m') + str(nb_machine1)
        machines_group.append(machines_subgroup1)
        k = nb_machine1 / nb_machine0
        f = lambda val: int(np.ceil(val*k))
        patients_subgroup1 = patients_subgroup0.copy()
        patients_subgroup1['instance'] = patients_subgroup1['period'].dt.strftime('w%Y-%m-%d-m') + str(nb_machine1)
        patients_subgroup1['number'] = patients_subgroup1['number'].apply(f)
        patients_group.append(patients_subgroup1)

In [33]:
patients_sample = pd.concat(patients_group)
patients_sample.head(25)

,number,day,release_date,due_date,duration,period,instance
Date,,,,,,,
2018-03-26,14,1,5,20,5,2018-04-01,w2018-04-01-m4
2018-03-27,14,2,5,20,5,2018-04-01,w2018-04-01-m4
2018-03-28,13,3,5,20,5,2018-04-01,w2018-04-01-m4
2018-03-29,13,4,5,20,5,2018-04-01,w2018-04-01-m4
2018-03-30,14,5,5,20,5,2018-04-01,w2018-04-01-m4
2018-03-31,12,6,5,20,5,2018-04-01,w2018-04-01-m4
2018-03-26,28,1,5,20,5,2018-04-01,w2018-04-01-m8
2018-03-27,28,2,5,20,5,2018-04-01,w2018-04-01-m8
2018-03-28,26,3,5,20,5,2018-04-01,w2018-04-01-m8
2018-03-29,26,4,5,20,5,2018-04-01,w2018-04-01-m8
2018-03-30,28,5,5,20,5,2018-04-01,w2018-04-01-m8
2018-03-31,23,6,5,20,5,2018-04-01,w2018-04-01-m8
2018-03-26,71,1,5,20,5,2018-04-01,w2018-04-01-m21
2018-03-27,72,2,5,20,5,2018-04-01,w2018-04-01-m21
2018-03-28,68,3,5,20,5,2018-04-01,w2018-04-01-m21
2018-03-29,67,4,5,20,5,2018-04-01,w2018-04-01-m21
2018-03-30,72,5,5,20,5,2018-04-01,w2018-04-01-m21
2018-03-31,60,6,5,20,5,2018-04-01,w2018-04-01-m21
2018-04-02,15,1,5,20,5,2018-04-08,w2018-04-08-m4
2018-04-03,13,2,5,20,5,2018-04-08,w2018-04-08-m4
2018-04-04,12,3,5,20,5,2018-04-08,w2018-04-08-m4
2018-04-05,14,4,5,20,5,2018-04-08,w2018-04-08-m4
2018-04-06,14,5,5,20,5,2018-04-08,w2018-04-08-m4
2018-04-07,12,6,5,20,5,2018-04-08,w2018-04-08-m4
2018-04-02,29,1,5,20,5,2018-04-08,w2018-04-08-m8

In [34]:
machines_sample = pd.concat(machines_group)
machines_sample.head(25)

        use_duration  final_duration        code     period         instance
Numero
10       1057.939404     1142.167386    7SXAWU97 2018-04-01   w2018-04-01-m4
15       1014.673572     1095.456940    7SXAWU93 2018-04-01   w2018-04-01-m4
23       1102.177856     1189.927888  7SXAWU85-B 2018-04-01   w2018-04-01-m4
2         196.663392      212.320773    7SXAWT97 2018-04-01   w2018-04-01-m4
7        1168.928821     1261.993240    7SXAWU87 2018-04-01   w2018-04-01-m8
23       1102.177856     1189.927888  7SXAWU85-B 2018-04-01   w2018-04-01-m8
18       1130.769609     1220.795977    7SXAWU84 2018-04-01   w2018-04-01-m8
12        239.047112      258.078879    7SXAWU82 2018-04-01   w2018-04-01-m8
9         122.540908      132.297018    7SXAWU86 2018-04-01   w2018-04-01-m8
2         196.663392      212.320773    7SXAWT97 2018-04-01   w2018-04-01-m8
17       1123.253706     1212.681694    7SXAWU80 2018-04-01   w2018-04-01-m8
13       1212.229132     1308.740911    7SXAWU94 2018-04-01   w2018-04-01-m8
15       1014.673572     1095.456940    7SXAWU93 2018-04-01  w2018-04-01-m21
21       1086.174146     1172.650041    7SXAWS80 2018-04-01  w2018-04-01-m21
22       1184.967729     1279.309088    7SXAWU83 2018-04-01  w2018-04-01-m21
7        1168.928821     1261.993240    7SXAWU87 2018-04-01  w2018-04-01-m21
18       1130.769609     1220.795977    7SXAWU84 2018-04-01  w2018-04-01-m21
6        1018.148861     1099.208913    7SXAWU96 2018-04-01  w2018-04-01-m21
17       1123.253706     1212.681694    7SXAWU80 2018-04-01  w2018-04-01-m21
10       1057.939404     1142.167386    7SXAWU97 2018-04-01  w2018-04-01-m21
19       1123.109321     1212.525814  7SXAWU85-A 2018-04-01  w2018-04-01-m21
14       1104.028997     1191.926407    7SXAWU79 2018-04-01  w2018-04-01-m21
16       1201.620093     1297.287231    7SXAWU90 2018-04-01  w2018-04-01-m21
3         900.591737      972.292465    7SXAWU81 2018-04-01  w2018-04-01-m21
13       1212.229132     1308.740911    7SXAWU94 2018-04-01  w2018-04-01-m21

## enregistrement des echantillons

In [35]:
patients_path = os.path.join(benchmarkdir, 'echantillons_patients.csv')
patients_sample.to_csv(patients_path)
patients_sample.dtypes

number                   int64
day                      int64
release_date             int64
due_date                 int64
duration                 int64
period          datetime64[ns]
instance                object
dtype: object

In [36]:
machines_path = os.path.join(benchmarkdir, 'echantillons_machines.csv')
machines_sample.to_csv(machines_path)
machines_sample.dtypes

use_duration             float64
final_duration           float64
code                      object
period            datetime64[ns]
instance                  object
dtype: object