In [1]:
# change directory
import os
rootdir = os.path.dirname(os.getcwd())
os.chdir(rootdir)

# import third libs for data
import datetime as dt
import numpy as np
import pandas as pd

# import config
from config import DATA_DIR

# Chargement des donnees

In [2]:
benchmarkname = 'HGD_dialysis_2018_2021'
benchmarkdir = os.path.join(DATA_DIR, 'raw', benchmarkname)
benchmarkdir

'D:\\Recherches\\Travaux\\RCEMP\\rcemp-dial\\data\\raw\\HGD_dialysis_2018_2021'

## chargement des seances

In [3]:
datapath = os.path.join(benchmarkdir, 'donnees_seances.csv')
seances = pd.read_csv(datapath, sep=';', index_col='Date', parse_dates=True, dayfirst=True)
seances.head()

            ID   Tour  Patients  Debut  Duree
Date
2018-03-26   1  Tour1        21      5      5
2018-03-26   2  Tour2        21     10      5
2018-03-26   3  Tour3        21     15      5
2018-03-26   4  Tour4         8     20      5
2018-03-27   5  Tour1        21      5      5

In [4]:
seances.dtypes

ID           int64
Tour        object
Patients     int64
Debut        int64
Duree        int64
dtype: object

## chargement des generateurs

In [5]:
datapath = os.path.join(benchmarkdir, 'donnees_generateurs.csv')
generateurs = pd.read_csv(datapath, sep=';', index_col='Numero')
generateurs.head()

,Code,TT,TO,TNR,TR,TAP,TF,TE,TN,TU,TRE,TRSi
Numero,,,,,,,,,,,,
1,7SXAWU98,30576,22932,932,22000,6301.08,15698.92,4.92,15694,15694,0,NaN
2,7SXAWT97,30576,22932,932,22000,19262.22,2737.78,1.78,2736,2736,0,NaN
3,7SXAWU81,30576,22932,932,22000,9462.73,12537.27,1.27,12536,12536,0,NaN
4,7SXAWU91,30576,22932,932,22000,7857.71,14142.29,2.29,14140,14140,0,NaN
5,7SXAWS81,30576,22932,932,22000,5639.52,16360.48,4.48,16356,16356,0,NaN

In [6]:
generateurs.dtypes

Code     object
TT        int64
TO        int64
TNR       int64
TR        int64
TAP     float64
TF      float64
TE      float64
TN        int64
TU        int64
TRE       int64
TRSi    float64
dtype: object

In [7]:
generateurs.Code.sort_values()

Numero
24      6SX4LV10
21      7SXAWS80
5       7SXAWS81
20      7SXAWS82
2       7SXAWT97
8       7SXAWT98
14      7SXAWU79
17      7SXAWU80
3       7SXAWU81
12      7SXAWU82
22      7SXAWU83
18      7SXAWU84
19    7SXAWU85-A
23    7SXAWU85-B
9       7SXAWU86
7       7SXAWU87
11      7SXAWU89
16      7SXAWU90
4       7SXAWU91
15      7SXAWU93
13      7SXAWU94
6       7SXAWU96
10      7SXAWU97
1       7SXAWU98
Name: Code, dtype: object

## chargement des tranches horaires

In [8]:
datapath = os.path.join(benchmarkdir, 'tranches_maintenances.csv')
tranches_maintenances = pd.read_csv(datapath)
tranches_maintenances.set_index('Period', inplace=True)
tranches_maintenances

              D1       D2       D3       D4       D5       D6  D7
Period
0H-1H         --       --       --       --       --       --  --
1H-2H         --       --       --       --       --       --  --
2H-3H         --       --       --       --       --       --  --
3H-4H         --       --       --       --       --       --  --
4H-5H         --       --       --       --       --       --  --
5H-6H         --       --       --       --       --       --  --
6H-7H         --       --       --       --       --       --  --
7H-8H    service  service  service  service  service  service  --
8H-9H    service  service  service  service  service  service  --
9H-10H   service  service  service  service  service  service  --
10H-11H  service  service  service  service  service  service  --
11H-12H  service  service  service  service  service  service  --
12H-13H  service  service  service  service  service  service  --
13H-14H  service  service  service  service  service  service  --
14H-15H  service  service  service  service  service  service  --
15H-16H  service  service  service  service  service  service  --
16H-17H  service  service  service  service  service  service  --
17H-18H       --       --       --       --       --       --  --
18H-19H       --       --       --       --       --       --  --
19H-20H       --       --       --       --       --       --  --
20H-21H       --       --       --       --       --       --  --
21H-22H       --       --       --       --       --       --  --
22H-23H       --       --       --       --       --       --  --
23H-24H       --       --       --       --       --       --  --

In [9]:
datapath = os.path.join(benchmarkdir, 'tranches_soins.csv')
tranches_soins = pd.read_csv(datapath)
tranches_soins.set_index('Period', inplace=True)
tranches_soins

             D1      D2      D3      D4      D5      D6      D7
Period
0H-1H        --  soins4  soins4  soins4  soins4  soins4  soins4
1H-2H        --      --      --      --      --      --      --
2H-3H        --      --      --      --      --      --      --
3H-4H        --      --      --      --      --      --      --
4H-5H        --      --      --      --      --      --      --
5H-6H    soins1  soins1  soins1  soins1  soins1  soins1      --
6H-7H    soins1  soins1  soins1  soins1  soins1  soins1      --
7H-8H    soins1  soins1  soins1  soins1  soins1  soins1      --
8H-9H    soins1  soins1  soins1  soins1  soins1  soins1      --
9H-10H   soins1  soins1  soins1  soins1  soins1  soins1      --
10H-11H  soins2  soins2  soins2  soins2  soins2  soins2      --
11H-12H  soins2  soins2  soins2  soins2  soins2  soins2      --
12H-13H  soins2  soins2  soins2  soins2  soins2  soins2      --
13H-14H  soins2  soins2  soins2  soins2  soins2  soins2      --
14H-15H  soins2  soins2  soins2  soins2  soins2  soins2      --
15H-16H  soins3  soins3  soins3  soins3  soins3  soins3      --
16H-17H  soins3  soins3  soins3  soins3  soins3  soins3      --
17H-18H  soins3  soins3  soins3  soins3  soins3  soins3      --
18H-19H  soins3  soins3  soins3  soins3  soins3  soins3      --
19H-20H  soins3  soins3  soins3  soins3  soins3  soins3      --
20H-21H  soins4  soins4  soins4  soins4  soins4  soins4      --
21H-22H  soins4  soins4  soins4  soins4  soins4  soins4      --
22H-23H  soins4  soins4  soins4  soins4  soins4  soins4      --
23H-24H  soins4  soins4  soins4  soins4  soins4  soins4      --

# Identification des patients

## Regroupement des patients par jour

In [10]:
seances_by_date = seances.groupby('Date')
seances_sum_by_date = seances_by_date.sum(numeric_only=True)
patients_count = seances_sum_by_date['Patients']
patients = pd.DataFrame(patients_count)
patients.columns = ['number']
patients.head()

            number
Date
2018-03-26      71
2018-03-27      72
2018-03-28      68
2018-03-29      67
2018-03-30      72

In [11]:
patients['day'] = patients_count.index.weekday + 1
patients.head()

            number  day
Date
2018-03-26      71    1
2018-03-27      72    2
2018-03-28      68    3
2018-03-29      67    4
2018-03-30      72    5

## Calcul des preferences des patients

In [12]:
seances_by_tour = seances.groupby('Tour')
seances_by_tour_min = seances_by_tour.min()
seances_by_tour_max = seances_by_tour.max()
seances_by_tour_min.head()
patients['release_date'] = seances_by_tour_min.loc['Tour1', 'Debut']
patients['due_date'] = seances_by_tour_max.loc['Tour4', 'Debut']
patients['duration'] = seances_by_tour_min.loc['Tour1', 'Duree']
patients.head()

            number  day  release_date  due_date  duration
Date
2018-03-26      71    1             5        20         5
2018-03-27      72    2             5        20         5
2018-03-28      68    3             5        20         5
2018-03-29      67    4             5        20         5
2018-03-30      72    5             5        20         5

## Identification des periodes de soins

In [13]:
patients.reset_index(inplace=True)
patients['period'] = patients['Date'].dt.to_period('W').apply(lambda r: r.end_time.date)
patients['period'] = pd.to_datetime(patients['period'])
patients.set_index('Date', inplace=True)
patients.head(10)

            number  day  release_date  due_date  duration     period
Date
2018-03-26      71    1             5        20         5 2018-04-01
2018-03-27      72    2             5        20         5 2018-04-01
2018-03-28      68    3             5        20         5 2018-04-01
2018-03-29      67    4             5        20         5 2018-04-01
2018-03-30      72    5             5        20         5 2018-04-01
2018-03-31      60    6             5        20         5 2018-04-01
2018-04-02      76    1             5        20         5 2018-04-08
2018-04-03      67    2             5        20         5 2018-04-08
2018-04-04      62    3             5        20         5 2018-04-08
2018-04-05      69    4             5        20         5 2018-04-08

# Identification des machines

## calcul du temps d'utilisation hebdomadaire

In [14]:
duree_traitement = 4
temps = seances['Patients'] * duree_traitement
temps.name = 'use_duration'
temps = temps.to_frame()
temps.head()

            use_duration
Date
2018-03-26            84
2018-03-26            84
2018-03-26            84
2018-03-26            32
2018-03-27            84

In [15]:
temps_hebdo = temps.resample('W').sum()
temps_hebdo.head()

            use_duration
Date
2018-04-01          1640
2018-04-08          1632
2018-04-15          1664
2018-04-22          1632
2018-04-29          1632

In [16]:
temps_cumulee = temps_hebdo.cumsum()
temps_cumulee.tail()

            use_duration
Date
2021-04-25        259752
2021-05-02        261368
2021-05-09        262960
2021-05-16        264572
2021-05-23        266164

## calcul des temps initiaux d'utilisation

In [17]:
temps_final = generateurs['TF']
temps_final_total = temps_final.sum()
temps_final_total

286763.1

In [18]:
temps_sample_total = temps_hebdo.sum()
temps_sample_total

use_duration    266164
dtype: int64

In [19]:
temps_initial_total = temps_final_total - temps_sample_total
temps_initial_total

use_duration    20599.1
dtype: float64

In [20]:
temps_initial_hebdo = temps_initial_total + temps_cumulee.shift(1).fillna(0)
temps_initial_hebdo.head()

            use_duration
Date
2018-04-01       20599.1
2018-04-08       22239.1
2018-04-15       23871.1
2018-04-22       25535.1
2018-04-29       27167.1

## Identification du nombre de lits

In [21]:
nb_lits = seances.resample('W').max()['Patients']
nb_lits.head()

Date
2018-04-01    21.0
2018-04-08    21.0
2018-04-15    21.0
2018-04-22    21.0
2018-04-29    21.0
Freq: W-SUN, Name: Patients, dtype: float64

In [22]:
nb_lits.value_counts()

21.0    162
22.0      1
Name: Patients, dtype: int64

## calcul de la repartition des charges par machines

In [23]:
temps_effectif = generateurs['TF']
temps_total_effectif = temps_effectif.sum()
temps_total_effectif

286763.1

In [24]:
repartition = temps_effectif / temps_total_effectif
repartition.name = 'use_duration'
repartition.head()

Numero
1    0.054745
2    0.009547
3    0.043720
4    0.049317
5    0.057052
Name: use_duration, dtype: float64

In [25]:
machines_rank = repartition.rank(method='first', ascending=False)
machines_rank.head()

Numero
1     7.0
2    20.0
3    18.0
4    16.0
5     4.0
Name: use_duration, dtype: float64

In [26]:
machines = []
for date, temps_initial in temps_initial_hebdo['use_duration'].items():
    temps_machines = repartition * temps_initial
    machines_hebdo = temps_machines.to_frame()
    machines_hebdo['code'] = generateurs['Code']
    machines_hebdo['period'] = date
    machines_hebdo['rank'] = machines_rank
    nb_lits_hebdo = nb_lits[date]
    machines_lits = machines_hebdo[machines_hebdo['rank'] <= nb_lits_hebdo]
    machines.append(machines_lits)
machines = pd.concat(machines)
machines.drop('rank', axis=1, inplace=True)
machines.head()

        use_duration      code     period
Numero
1        1127.703052  7SXAWU98 2018-04-01
2         196.663392  7SXAWT97 2018-04-01
3         900.591737  7SXAWU81 2018-04-01
4        1015.885398  7SXAWU91 2018-04-01
5        1175.224998  7SXAWS81 2018-04-01

In [27]:
# verification des calculs
machines.groupby('period')['use_duration'].count().value_counts()

21    162
22      1
Name: use_duration, dtype: int64

# Echantillonage par phases

In [28]:
# fix random seed
np.random.seed(0)

## Echantillonage des semaines
ces echantillons sont utilises pour la comparaison entre ordonnancement manuel et intelligent

In [29]:
periodes = [periode.date() for periode, _ in machines.groupby('period')]
periodes = pd.Series(periodes)
periodes

0      2018-04-01
1      2018-04-08
2      2018-04-15
3      2018-04-22
4      2018-04-29
          ...
158    2021-04-25
159    2021-05-02
160    2021-05-09
161    2021-05-16
162    2021-05-23
Length: 163, dtype: object

In [30]:
# periodes = temps_initial_hebdo.reset_index()['Date']
# periodes

In [31]:
periodes_sample1 = periodes.sample(n=20)
periodes_sample1

160    2021-05-09
149    2021-02-21
73     2019-09-08
7      2018-05-20
100    2020-03-15
54     2019-04-28
125    2020-09-06
44     2019-02-17
26     2018-10-07
90     2020-01-05
136    2020-11-22
94     2020-02-02
131    2020-10-18
80     2019-10-27
62     2019-06-23
119    2020-07-26
37     2018-12-23
154    2021-03-28
101    2020-03-22
142    2021-01-03
dtype: object

In [32]:
patients_sample1 = patients[patients['period'].isin(periodes_sample1)].copy()
patients_sample1['instance'] = patients_sample1['period'].dt.strftime('w%Y-%m-%d-a')
patients_sample1.head()

,number,day,release_date,due_date,duration,period,instance
Date,,,,,,,
2018-05-14,75,1,5,20,5,2018-05-20,w2018-05-20-a
2018-05-15,66,2,5,20,5,2018-05-20,w2018-05-20-a
2018-05-16,62,3,5,20,5,2018-05-20,w2018-05-20-a
2018-05-17,68,4,5,20,5,2018-05-20,w2018-05-20-a
2018-05-18,70,5,5,20,5,2018-05-20,w2018-05-20-a

In [33]:
machines_sample1 = machines[machines['period'].isin(periodes_sample1)].copy()
machines_sample1['instance'] = machines_sample1['period'].dt.strftime('w%Y-%m-%d-a')
machines_sample1.head(50)

        use_duration        code     period       instance
Numero
1        1750.923073    7SXAWU98 2018-05-20  w2018-05-20-a
2         305.348532    7SXAWT97 2018-05-20  w2018-05-20-a
3        1398.299712    7SXAWU81 2018-05-20  w2018-05-20-a
4        1577.309896    7SXAWU91 2018-05-20  w2018-05-20-a
5        1824.707809    7SXAWS81 2018-05-20  w2018-05-20-a
6        1580.824251    7SXAWU96 2018-05-20  w2018-05-20-a
7        1814.932079    7SXAWU87 2018-05-20  w2018-05-20-a
9         190.262590    7SXAWU86 2018-05-20  w2018-05-20-a
10       1642.604859    7SXAWU97 2018-05-20  w2018-05-20-a
11       1690.421731    7SXAWU89 2018-05-20  w2018-05-20-a
12        371.155424    7SXAWU82 2018-05-20  w2018-05-20-a
13       1882.162112    7SXAWU94 2018-05-20  w2018-05-20-a
14       1714.165658    7SXAWU79 2018-05-20  w2018-05-20-a
15       1575.428360    7SXAWU93 2018-05-20  w2018-05-20-a
16       1865.690035    7SXAWU90 2018-05-20  w2018-05-20-a
17       1744.014816    7SXAWU80 2018-05-20  w2018-05-20-a
18       1755.684350    7SXAWU84 2018-05-20  w2018-05-20-a
19       1743.790638  7SXAWU85-A 2018-05-20  w2018-05-20-a
21       1686.443405    7SXAWS80 2018-05-20  w2018-05-20-a
22       1839.834817    7SXAWU83 2018-05-20  w2018-05-20-a
23       1711.291493  7SXAWU85-B 2018-05-20  w2018-05-20-a
1        3439.704803    7SXAWU98 2018-10-07  w2018-10-07-a
2         599.860055    7SXAWT97 2018-10-07  w2018-10-07-a
3        2746.972902    7SXAWU81 2018-10-07  w2018-10-07-a
4        3098.640087    7SXAWU91 2018-10-07  w2018-10-07-a
5        3584.655609    7SXAWS81 2018-10-07  w2018-10-07-a
6        3105.544072    7SXAWU96 2018-10-07  w2018-10-07-a
7        3565.451095    7SXAWU87 2018-10-07  w2018-10-07-a
9         373.772643    7SXAWU86 2018-10-07  w2018-10-07-a
10       3226.912655    7SXAWU97 2018-10-07  w2018-10-07-a
11       3320.849349    7SXAWU89 2018-10-07  w2018-10-07-a
12        729.138313    7SXAWU82 2018-10-07  w2018-10-07-a
13       3697.525127    7SXAWU94 2018-10-07  w2018-10-07-a
14       3367.494517    7SXAWU79 2018-10-07  w2018-10-07-a
15       3094.943794    7SXAWU93 2018-10-07  w2018-10-07-a
16       3665.165576    7SXAWU90 2018-10-07  w2018-10-07-a
17       3426.133467    7SXAWU80 2018-10-07  w2018-10-07-a
18       3449.058376    7SXAWU84 2018-10-07  w2018-10-07-a
19       3425.693067  7SXAWU85-A 2018-10-07  w2018-10-07-a
21       3313.033890    7SXAWS80 2018-10-07  w2018-10-07-a
22       3614.372759    7SXAWU83 2018-10-07  w2018-10-07-a
23       3361.848192  7SXAWU85-B 2018-10-07  w2018-10-07-a
1        4438.258316    7SXAWU98 2018-12-23  w2018-12-23-a
2         774.000686    7SXAWT97 2018-12-23  w2018-12-23-a
3        3544.424893    7SXAWU81 2018-12-23  w2018-12-23-a
4        3998.181798    7SXAWU91 2018-12-23  w2018-12-23-a
5        4625.288645    7SXAWS81 2018-12-23  w2018-12-23-a
6        4007.090024    7SXAWU96 2018-12-23  w2018-12-23-a
7        4600.509020    7SXAWU87 2018-12-23  w2018-12-23-a
9         482.279625    7SXAWU86 2018-12-23  w2018-12-23-a

## Echantillonage des machines
On doit:
- garder le ratio patients/machines constant
- controler le nombre de machines
- faciliter la visualisation dans un diagrame de gantt

In [34]:
periodes_sample2 = periodes.sample(n=10)
periodes_sample2

77    2019-10-06
47    2019-03-10
95    2020-02-09
84    2019-11-24
38    2018-12-30
76    2019-09-29
15    2018-07-22
91    2020-01-12
64    2019-07-07
57    2019-05-19
dtype: object

In [35]:
print(machines['period'])

Numero
1    2018-04-01
2    2018-04-01
3    2018-04-01
4    2018-04-01
5    2018-04-01
        ...
18   2021-05-23
19   2021-05-23
21   2021-05-23
22   2021-05-23
23   2021-05-23
Name: period, Length: 3424, dtype: datetime64[ns]

In [36]:
patients_group = []
machines_group = []
for periode in periodes_sample1:
    patients_subgroup0 = patients[patients['period'].isin([periode])]
    machines_subgroup0 = machines[machines['period'].isin([periode])]
    nb_machine0 = machines_subgroup0.shape[0]
    for nb_machine1 in (4, 8, 21):
        machines_subgroup1 = machines_subgroup0.sample(n=nb_machine1)
        machines_subgroup1['instance'] = machines_subgroup1['period'].dt.strftime('w%Y-%m-%d-b') + str(nb_machine1)
        machines_group.append(machines_subgroup1)
        k = nb_machine1 / nb_machine0
        f = lambda val: int(np.ceil(val*k))
        patients_subgroup1 = patients_subgroup0.copy()
        patients_subgroup1['instance'] = patients_subgroup1['period'].dt.strftime('w%Y-%m-%d-b') + str(nb_machine1)
        patients_subgroup1['number'] = patients_subgroup1['number'].apply(f)
        patients_group.append(patients_subgroup1)

In [37]:
patients_sample2 = pd.concat(patients_group)
patients_sample2.head()

,number,day,release_date,due_date,duration,period,instance
Date,,,,,,,
2021-05-03,14,1,5,20,5,2021-05-09,w2021-05-09-b4
2021-05-04,13,2,5,20,5,2021-05-09,w2021-05-09-b4
2021-05-05,13,3,5,20,5,2021-05-09,w2021-05-09-b4
2021-05-06,12,4,5,20,5,2021-05-09,w2021-05-09-b4
2021-05-07,13,5,5,20,5,2021-05-09,w2021-05-09-b4

In [38]:
machines_sample2 = pd.concat(machines_group)
machines_sample2.head()

        use_duration        code     period        instance
Numero
23      15086.964663  7SXAWU85-B 2021-05-09  w2021-05-09-b4
7       16000.673322    7SXAWU87 2021-05-09  w2021-05-09-b4
18      15478.337767    7SXAWU84 2021-05-09  w2021-05-09-b4
16      16448.161954    7SXAWU90 2021-05-09  w2021-05-09-b4
14      15112.303669    7SXAWU79 2021-05-09  w2021-05-09-b8

## enregistrement des echantillons

In [39]:
patients_path = os.path.join(benchmarkdir, 'echantillons_patients.csv')
patients_sample = pd.concat([patients_sample1, patients_sample2])
patients_sample.to_csv(patients_path)
patients_sample.dtypes

number                   int64
day                      int64
release_date             int64
due_date                 int64
duration                 int64
period          datetime64[ns]
instance                object
dtype: object

In [40]:
machines_path = os.path.join(benchmarkdir, 'echantillons_machines.csv')
machines_sample = pd.concat([machines_sample1, machines_sample2])
machines_sample.to_csv(machines_path)
machines_sample.dtypes

use_duration           float64
code                    object
period          datetime64[ns]
instance                object
dtype: object